.disabled {
  pointer-events:none;
}

#log_text_area {
  font-size: 100%!important;
}

.radio-group .input-group--text-field {
  padding: 18px 0 0 !important;
}

.radio-group .input-group--text-field .input-group__details:before {
  display: block !important;
}

.radio-group .input-group--select .input-group__input {
  display: flex;
}

.radio-group input {
  width: 100%;
}
