.disabled {
  pointer-events:none;
}

#log_text_area {
  font-size: 100%!important;
}

.radio-group .input-group--text-field {
  padding: 18px 0 0 !important;
}

.radio-group .input-group--text-field .input-group__details:before {
  display: block !important;
}

.radio-group .input-group--select .input-group__input {
  display: flex;
}

.radio-group input {
  width: 100%;
}

[v-cloak] {
  display: none;
}

.imgcontainer {
  position: relative;
  text-align: center;
  margin: 0px 5px 15px 5px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered h1 {
  color: white;
  font-size: 40px;
}
