<!DOCTYPE html>
<html>

<head>
  <title>Mass Block</title>
  <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' />
  <link rel="stylesheet" type="text/css" href="lib/vue/css/vuetify.min.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="css/liker.css" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>

  <div id="app">
    <v-app>

      <v-container grid-list-xl>
        <v-layout v-bind="binding">
          <v-flex v-if="isInProgress">
            <div v-bind:style="{ color : statusColor}">
              <strong>{{ status }}</strong>
            </div>
          </v-flex>
          <v-flex>
            <v-layout row wrap>
              <v-flex md6>
                <v-text-field @input="checkDelay()" label="Delay between requests, ms" type="number" min=10000 step=100 v-model.number="delay"></v-text-field>
              </v-flex>
              <v-flex md6>
                <v-tooltip bottom>
                  <v-text-field slot="activator" @input="checkRndDelay()" label="Random Delay, %" type="number" min=0 step=1 max=100 v-model.number="rndDelay"></v-text-field>
                  <span>Adds random part to the specified delay, max value to be added to the specified delay - {{Math.floor(rndDelay/100*delay)}}ms</span>
                </v-tooltip>
              </v-flex>
              <v-btn id="startBlock" :disabled="startButtonDisabled" v-on:click="blockButtonClick('block')" color="primary">Start Blocking!</v-btn>
              <v-btn id="startUnBlock" :disabled="startButtonDisabled" v-on:click="blockButtonClick('unblock')" color="primary">Start UnBlocking!</v-btn>
            </v-layout>
          </v-flex>
          <v-flex>
            <v-text-field id="ids" label="Users to be (un)blocked (ID or Username, each on a separate line)" multi-line v-model="ids" :readonly="startButtonDisabled"
              placeholder="Specify the users you want to (un)block."></v-text-field>
          </v-flex>
          <v-flex>
            <v-text-field id="log_text_area" label="Log" multi-line v-model="log"></v-text-field>
          </v-flex>
        </v-layout>
      </v-container>

    </v-app>
  </div>

  <script src="lib/axios.min.js"></script>

  <script src="js/ig/blockUser.js"></script>

  <script src="js/instaDefOptions.js"></script>
  <script src="js/instaMessages.js"></script>
  <script src="js/instaCountdown.js"></script>
  <script src="js/instaTimeout.js"></script>
  <script src="js/ig/getUserProfile.js"></script>

  <script src="lib/vue/vue.js"></script>
  <script src="lib/vue/vuetify.min.js"></script>

  <script src="js/pages/ga.js"></script>
  <script src="js/components/vue_block.js"></script>

</body>

</html>
