<!DOCTYPE html>
<html>

<head>
  <title>Mass Follow / UnFollow</title>
  <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' />
  <link rel="stylesheet" type="text/css" href="lib/vue/css/vuetify.min.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="css/liker.css" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>

  <div id="app">
    <v-app>

      <v-container grid-list-xl>
        <v-layout v-bind="binding">
          <v-flex v-if="isInProgress">
            <div v-bind:style="{ color : statusColor}">
              <strong>{{ status }}</strong>
            </div>
          </v-flex>
          <v-flex>
            <v-text-field :rules="[rules.required]" @input="checkDelay" label="Delay between requests, ms" type="number" min=1000 step=500 v-model.number="delay"></v-text-field>
            <v-btn id="startUnFollow" :disabled="startButtonDisabled" v-on:click="unFollowButtonClick" color="primary">Start UnFollow!</v-btn>
            <v-btn id="startFollow" :disabled="startButtonDisabled" v-on:click="followButtonClick" color="primary">Start Follow!</v-btn>
          </v-flex>
          <v-flex>
            <v-text-field id="ids" label="Input of User Ids" multi-line v-model="ids" :readonly="startButtonDisabled"
              placeholder="Specify the id of users you want to follow/unfollow. Put each id on separate line. Please pay attention that it should be id (numeric value), not username."></v-text-field>
          </v-flex>
          <v-flex>
            <v-text-field id="log_text_area" label="Log" multi-line v-model="log"></v-text-field>
          </v-flex>
        </v-layout>
      </v-container>

    </v-app>
  </div>

  <script src="lib/axios.min.js"></script>

  <script src="js/ig/followUser.js"></script>

  <script src="js/instaDefOptions.js"></script>
  <script src="js/instaMessages.js"></script>
  <script src="js/instaCountdown.js"></script>
  <script src="js/instaTimeout.js"></script>

  <script src="lib/vue/vue.js"></script>
  <script src="lib/vue/vuetify.min.js"></script>
  <script src="js/pages/ga.js"></script>
  <script src="js/components/vue_follow.js"></script>

</body>

</html>
