<!DOCTYPE html>
<html>

<head>
  <title>Liker</title>
  <link rel="stylesheet" type="text/css" media="screen" href="css/liker.css" />
  <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' />
  <link rel="stylesheet" type="text/css" href="lib/vue/css/vuetify.min.css" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>

  <div id="app">
    <v-app>
      <v-container grid-list-md>
        <v-layout row wrap>

          <v-flex md12 v-if="isInProgress">
            <div style="height: 3em;" v-bind:style="{ color : statusColor}">
              <strong>{{ status }}</strong>
            </div>
            <strong>Started at {{startDate}}/Liked {{liked}}/Met already liked {{alreadyLiked}}/Fetched posts
              {{fetched}}/fetching
              feed restarted {{restarted}}</strong>
          </v-flex>
          <v-flex md12 v-if="!isInProgress">
            <strong>
              You can like the posts in your feed. It is useful when you are following 1k+ users, and you want to make
              them all happy :)
              You can also like the posts of the specific user or the specific hashtag.
            </strong>
          </v-flex>

          <v-flex md4>
            <v-radio-group label="I want to like..." v-model="whatToLike" :disabled="isInProgress" v-bind:class="{ disabled: isInProgress }">
              <v-radio :key="1" label="The posts in my feed" value="likeFeed"></v-radio>
              <v-radio :key="2" label="The posts of " value="likeProfile"></v-radio>
              <v-text-field label="username" type="string" v-model="userToLike" v-if="whatToLike == 'likeProfile'"
                v-on:blur="validateUserProfile($event)"></v-text-field>
              <v-radio :key="3" label="The hashtag " value="likeHashTag"></v-radio>
              <v-text-field label="hashtag" type="string" v-model="hashTagToLike" v-if="whatToLike == 'likeHashTag'"></v-text-field>
            </v-radio-group>
          </v-flex>
          <v-flex md4>
            <v-radio-group label="I want to stop..." v-model="stopCriterion">
              <v-radio :key="1" label="When a liked post is met" value="alreadyLiked"></v-radio>
              <v-radio :key="2" label="When liked " value="amountPosts"></v-radio>
              <v-text-field label="posts" type="number" min=100 step=100 v-model.number="amountToLike" v-if="stopCriterion == 'amountPosts'"></v-text-field>
            </v-radio-group>
          </v-flex>
          <v-flex md4>
            <v-checkbox label="Don't Like Video" v-model="skipVideo"></v-checkbox>
            <v-checkbox label="Don't Like Your Own Posts" v-model="skipOwnPosts"></v-checkbox>
            <v-text-field label="Like a post only when it has likes >= " type="number" min=0 step=1 v-model.number="minLike"></v-text-field>
          </v-flex>

          <v-flex md3>
            <v-text-field @input="checkDelay()" label="Delay between requests, ms" type="number" min=100 step=100
              v-model.number="delay"></v-text-field>
          </v-flex>
          <v-flex md3>
            <v-tooltip bottom>
              <v-text-field slot="activator" @input="checkRndDelay()" label="Random Delay, %" type="number" min=0 step=1
                max=100 v-model.number="rndDelay"></v-text-field>
              <span>Adds random part to the specified delay, max value to be added to the specified delay -
                {{Math.floor(rndDelay/100*delay)}}ms</span>
            </v-tooltip>
          </v-flex>
          <v-flex md3>
            <v-tooltip bottom>
              <v-text-field slot="activator" label="How many likes per period" type="number" min=1 step=1 max=1000
                v-model.number="likesPerPeriod"></v-text-field>
              <span>How many likes should be set during the specified period</span>
            </v-tooltip>
          </v-flex>
          <v-flex md3>
            <v-tooltip bottom>
              <v-text-field slot="activator" label="Duration of the period, hours" type="number" min=1 step=1 max=24
                v-model.number="hoursPerPeriod"></v-text-field>
              <span>How many likes should be set during the specified period</span>
            </v-tooltip>
          </v-flex>

          <v-flex md12>
            <v-btn id="start" :disabled="startButtonDisabled" color="primary" v-on:click="startButtonClick">Like the
              posts!</v-btn>
            <v-btn :disabled="!isInProgress" color="primary" v-on:click="stop=true">Stop it!</v-btn>
          </v-flex>
          <v-flex md12>
            <v-text-field id="log_text_area" rows="10" label="Log" multi-line v-model="log"></v-text-field>
          </v-flex>

        </v-layout>
      </v-container>
    </v-app>
  </div>
  <script src="lib/axios.min.js"></script>

  <script src="js/ig/GetPosts.js"></script>
  <script src="js/ig/GetFeed.js"></script>
  <script src="js/ig/GetProfile.js"></script>
  <script src="js/ig/GetHashTag.js"></script>
  <script src="js/ig/GetPostInfo.js"></script>
  <script src="js/ig/getUserProfile.js"></script>
  <script src="js/ig/like.js"></script>
  <script src="js/instaDefOptions.js"></script>
  <script src="js/instaMessages.js"></script>
  <script src="js/instaCountdown.js"></script>
  <script src="js/instaTimeout.js"></script>

  <script src="lib/vue/vue.js"></script>
  <script src="lib/vue/vuetify.min.js"></script>

  <script src="js/pages/ga.js"></script>
  <script src="js/components/vue_liker.js"></script>

</body>

</html>
