<!DOCTYPE html>
<html>

<head>
  <title>Likes</title>
  <link rel="stylesheet" type="text/css" media="screen" href="css/liker.css" />
  <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' />
  <link rel="stylesheet" type="text/css" href="lib/vue/css/vuetify.min.css" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>
  <div v-cloak id="app">
    <v-app>

      <v-container grid-list-xl>
        <v-layout v-bind="binding">
          <v-flex v-show="isRunning">
            <v-progress-linear v-model="progressValue"></v-progress-linear>
          </v-flex>
          <v-flex v-show="!init">
            <div style="height: 3em;" v-bind:style="{color: statusColor}">
              <strong>{{ status }}</strong>
            </div>
            <div v-show="isRunning">
              <strong>Started at {{startDate}}/Fetched {{fetchedPosts}}posts/Processed {{processedPosts}}posts/{{processedLikes}}likes of
                {{totalPosts}}posts/{{postEntity}}:
                {{postProcessedEntity}} of {{postTotalEntity}}/{{itemsLength}}</strong>
            </div>
          </v-flex>
          <v-flex>
            <v-layout row wrap>
              <v-flex md12>
                <v-text-field :rules="[rules.required]" :disabled="isGettingLikesInProgress" label="Username to analyze"
                  v-model="userToGetLikes"></v-text-field>
              </v-flex>
              <v-flex md6>
                <v-text-field @input="checkDelay()" label="Delay between requests, ms" type="number" min=100 step=100
                  v-model.number="delay"></v-text-field>
              </v-flex>
              <v-flex md6>
                <v-tooltip bottom>
                  <v-text-field slot="activator" @input="checkRndDelay()" label="Random Delay, %" type="number" min=0
                    step=1 max=100 v-model.number="rndDelay"></v-text-field>
                  <span>Adds random part to the specified delay, max value to be added to the specified delay -
                    {{Math.floor(rndDelay/100*delay)}}ms</span>
                </v-tooltip>
              </v-flex>
              <v-flex md6>
                <v-checkbox :disabled="!init" label="Get comments" v-model="calcComments"></v-checkbox>
              </v-flex>
              <v-flex md6>
                <v-radio-group label="The Excel export format..." v-model="outType" style="padding-top: 0px">
                  <v-radio :key="1" label="xlsx" value="xlsx"></v-radio>
                  <v-radio :key="2" label="csv" value="csv"></v-radio>
                </v-radio-group>
              </v-flex>
            </v-layout>
            <v-btn id="start" :disabled="startButtonDisabled" v-on:click="startButtonClick" color="primary">Calculate
              likes!</v-btn>
            <v-btn :disabled="!isGettingLikesInProgress" color="primary" v-on:click="stop=true">Stop it!</v-btn>
            <v-tooltip bottom>
              <v-btn slot="activator" :disabled="addFollowersButtonDisabled" color="primary" v-on:click="addFollowers">Add
                followers!</v-btn>
              <span>Add followers information into the list: it is useful to identiy the followers who never liked a
                post.</span>
            </v-tooltip>
            <v-btn :disabled="exportButtonDisabled" color="primary" v-on:click="exportToExcel">Export to Excel!</v-btn>
<!--            <v-btn color="primary" v-on:click="test">TEST!</v-btn> -->
          </v-flex>
          <v-flex>
            <v-text-field v-show="isRunning" id="log_text_area" label="Log" multi-line v-model="log"></v-text-field>
          </v-flex>

          <v-flex mt-1>
            <v-expansion-panel v-show="!exportButtonDisabled">
              <v-expansion-panel-content>
                <h1 slot="header">Less liked post / Most liked post</h1>
                <v-layout row wrap child-flex>
                  <v-flex xs6>
                    <v-card :href="lessLikedPost.url" target="_blank">
                      <v-card-media :src="lessLikedPost.pic" height="200px" contain>
                      </v-card-media>
                      <v-card-title primary-title>
                        <div>
                          <h3 class="headline mb-0">Less Liked Post - {{lessLikedPost.likes}} likes.</h3>
                        </div>
                      </v-card-title>
                    </v-card>
                  </v-flex>
                  <v-flex xs6>
                    <v-card :href="mostLikedPost.url" target="_blank">
                      <v-card-media :src="mostLikedPost.pic" height="200px" contain>
                      </v-card-media>
                      <v-card-title primary-title>
                        <div>
                          <h3 class="headline mb-0">Most Liked Post - {{mostLikedPost.likes}} likes.</h3>
                        </div>
                      </v-card-title>
                    </v-card>
                  </v-flex>
                </v-layout>
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-flex>

          <v-flex mt-1>
            <v-expansion-panel v-show="!exportButtonDisabled && calcComments">
              <v-expansion-panel-content>
                <h1 slot="header">Commented posts</h1>
                <v-layout row wrap child-flex>
                  <!--
                <v-flex xs3 v-for="post in commentedPosts" :key="post.id">
                  <v-card :href="post.url" target="_blank">
                    <v-card-media :src="post.pic" height="200px" contain>
                    </v-card-media>
                  </v-card>
                </v-flex>
                -->
                  <template v-for="post in commentedPosts">
                    <div class="imgcontainer">
                      <a :href="post.url" target="_blank">
                        <img :src="post.pic" height="200px">
                        </img>
                        <div class="centered">
                          <h1>{{post.comments}}</h1>
                        </div>
                      </a>
                    </div>
                  </template>
                </v-layout>
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-flex>

          <v-flex v-if="!exportButtonDisabled">
            <my-data-table v-bind:calc-comments="calcComments" v-bind:csrf-token="csrfToken" v-bind:update-status-div="updateStatusDiv">
            </my-data-table>
          </v-flex>
        </v-layout>
      </v-container>

    </v-app>
  </div>

  <script src="lib/axios.min.js"></script>
<!--  <script src="https://apis.google.com/js/client.js"></script> -->

  <script src="js/ig/GetLikes.js"></script>
  <script src="js/ig/GetComments.js"></script>
  <script src="js/ig/GetPosts.js"></script>
  <!-- will be used this wrapper-->
  <script src="js/ig/GetProfile.js"></script>
  <script src="js/ig/GetPostInfo.js"></script>
  <script src="js/ig/getUserProfile.js"></script>
  <script src="js/instaDefOptions.js"></script>
  <script src="js/instaMessages.js"></script>
  <script src="js/instaCountdown.js"></script>
  <script src="js/instaTimeout.js"></script>
  <script src="js/ig/FetchUsers.js"></script>
  <script src="js/ig/followUser.js"></script>

  <script src="lib/xlsx.core.min.js"></script>
  <script src="lib/FileSaver.min.js"></script>
  <script src="js/pages/exportUtils.js"></script>

  <script src="lib/vue/vue.js"></script>
  <script src="lib/vue/vuetify.min.js"></script>

  <script src="js/pages/ga.js"></script>
  <script src="js/components/vue_likes.js"></script>

</body>

</html>
