<!DOCTYPE html>
<html>

<head>
  <title>Likes</title>
  <link rel="stylesheet" type="text/css" media="screen" href="css/liker.css" />
  <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' />
  <link rel="stylesheet" type="text/css" href="lib/vue/css/vuetify.min.css" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>

  <div id="app">
    <v-app>

      <v-container grid-list-xl>
        <v-layout v-bind="binding">
          <v-flex v-if="isInProgress">
            <div v-bind:style="{ color : statusColor}">
              <strong>{{ status }}</strong>
            </div>
            <div>
              <strong>Started at {{startDate}}/Fetched {{fetchedPosts}} posts/Processed {{processedPosts}} of {{totalPosts}} posts/Likes {{processedLikes}} of {{totalLikes}}</strong>
            </div>
          </v-flex>
          <v-flex>
            <v-text-field :disabled="isInProgress" label="Username to analyze" v-model="userToGetLikes"></v-text-field>
            <v-text-field label="Delay between requests, ms" type="number" min=100 step=100 v-model.number="delay"></v-text-field>
            <v-btn id="start" :disabled="startButtonDisabled" v-on:click="startButtonClick" color="primary">Calculate likes!</v-btn>
            <v-btn :disabled="!isInProgress" color="primary" v-on:click="stop=true">Stop it!</v-btn>
            <v-tooltip bottom>
              <v-btn slot="activator" :disabled="addFollowersButtonDisabled" color="primary" v-on:click="addFollowers">Add followers!</v-btn>
              <span>Add followers information into the list: it is useful to identiy the followers who never liked a post.</span>
            </v-tooltip>
            <v-btn :disabled="exportButtonDisabled" color="primary" v-on:click="exportToExcel">Export to Excel!</v-btn>
          </v-flex>
          <v-flex>
            <v-text-field id="log_text_area" label="Log" multi-line v-model="log"></v-text-field>
          </v-flex>
          <v-layout row wrap child-flex>
            <v-flex v-if="!exportButtonDisabled" xs6>
              <v-card :href="lessLikedPost.url" target="_blank">
                <v-card-media :src="lessLikedPost.pic" height="200px" contain>
                </v-card-media>
                <v-card-title primary-title>
                    <div>
                      <h3 class="headline mb-0">Less Liked Post - {{lessLikedPost.likes}} likes.</h3>
                    </div>
                  </v-card-title>
                </v-card>
            </v-flex>
            <v-flex v-if="!exportButtonDisabled" xs6>
              <v-card :href="mostLikedPost.url" target="_blank">
                <v-card-media :src="mostLikedPost.pic" height="200px" contain>
                </v-card-media>
                <v-card-title primary-title>
                  <div>
                    <h3 class="headline mb-0">Most Liked Post - {{mostLikedPost.likes}} likes.</h3>
                  </div>
                </v-card-title>
              </v-card>
            </v-flex>
          </v-layout>
          <v-flex>
            <my-data-table></my-data-table>
          </v-flex>
        </v-layout>
      </v-container>

    </v-app>
  </div>

  <script src="lib/axios.min.js"></script>
  <script src="js/ig/GetLikes.js"></script>
  <script src="js/ig/GetPosts.js"></script> <!-- will be used this wrapper-->
  <script src="js/ig/GetProfile.js"></script>
  <script src="js/ig/GetPostInfo.js"></script>
  <script src="js/ig/getUserProfile.js"></script>
  <script src="js/instaDefOptions.js"></script>
  <script src="js/instaMessages.js"></script>
  <script src="js/instaCountdown.js"></script>
  <script src="js/instaTimeout.js"></script>

  <script src="lib/xlsx.core.min.js"></script>
  <script src="lib/FileSaver.min.js"></script>
  <script src="js/pages/exportUtils.js"></script>

  <script src="lib/vue/vue.js"></script>
  <script src="lib/vue/vuetify.min.js"></script>

  <script src="js/pages/ga.js"></script>
  <script src="js/components/vue_likes.js"></script>

</body>

</html>
